# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
ENV/

# Python packaging
*.egg-info/
dist/
build/
.eggs/

# ==========================================
# Environment / secrets
# ==========================================

.env
.env.*
!.env.example


# ==========================================
# Datasets
# ==========================================

data/
*.csv
*.zip
*.parquet
*.xlsx

# ==========================================
# Logs
# ==========================================

*.log
logs/

# ==========================================
# Jupyter
# ==========================================

.ipynb_checkpoints/

# ==========================================
# IDE / editors
# ==========================================

.vscode/
.idea/

# ==========================================
# OS
# ==========================================

.DS_Store
Thumbs.db

# ==========================================
# Testing / coverage
# ==========================================

.pytest_cache/
.coverage
htmlcov/
.coverage.*